* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#grid {
    width: 40rem;
    height: 40rem;
    border: 1px solid #333;
    display: grid;
    flex-wrap: grid;
}

.block {
    border: 1px solid black;
}